node_modules
bootstrap.min.css.map
bootstrap.min.css
bootstrap.css
bootstrap-theme.min.css.map
bootstrap-theme.min.css
bootstrap-theme.css.map
bootstrap-theme.css
bootstrap.css.map
LICENSE.md
fonts/glyphicons-halflings-regular.woff2
fonts/glyphicons-halflings-regular.woff
fonts/glyphicons-halflings-regular.svg
fonts/glyphicons-halflings-regular.eot
fonts/glyphicons-halflings-regular.ttf

out/
build/packageWinStore.bat
build/packageWinApp.bat
AppXManifest.xml
build/makeRest.bat
wikinavcanadasite/fbshare/
